@import url("grid-new.css");
@import url("style-dealer.css");
@import url("style-adv.css");

.menu {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul > li {
    list-style-type: none;
    display: inline-block;
    height: 20px;
    border: black solid 3px;
    border-radius: 10px;
    background: orangered;
    padding: 5px;

}

li a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 20px;
}

body {
    background-image: url(../images/bg.png);
    background-size: 300px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center center;
    color: white;
}
